li{
  margin-bottom: 30px;
}

h1{
  margin-left: 25px; 
  color: white;
}

#campoDePesquisa{
  margin-left: 54px;
  margin-top: -38.5px;
}

#pesquisa{
  margin-left: 5px;
  border-radius: 7px;
  border-color: rgba(255, 255, 255, 0);
}

#selecionarLinguagem{
  margin: 5px;
  border-radius: 6px;
  border-color: rgba(255, 255, 255, 0);
  background-color: white;
  color: rgba(0, 0, 0, 0.815);
}

.search{
  margin-left: 200px;
}

p, ul, li{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(85, 87, 231, 0.671);
}